* {
  background-color: rgb(220, 246, 246);
}
.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #9fd2e0;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-decoration: none !important;
  margin-bottom: 3rem;
}

.ul-head {
  background-color: #9fd2e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-decoration: none !important;
}

li {
  background-color: #9fd2e0;
  padding-right: 3rem;
  text-decoration: underline;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button {
  font-size: 1rem;
  background: #61dafb;
  outline: 1px solid #61dafb;
  border-radius: 5px;
  padding: 0.4rem;
  cursor: pointer;
}

button:hover {
  background-color: #beeffd;
}

.navigator-btn {
  margin-top: 3rem;
}

p {
  font-weight: 600;
}

/* Weather Page */

input {
  font-size: 1rem;
  border: 2px solid #61dafb;
  border-radius: 6px;
  padding: 0.5rem;
}

.top {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}
.temp {
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: underline;
  color: rgb(110, 98, 78);
}
.bottom {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.humidity {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}
.wind {
  color: #40a2bd;
}
.feels {
  color: #9b9b9b;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page404 {
  text-align: center;
  padding: 50px 0;
  background-color: rgb(220, 246, 246);
  font-family: "Arvo", serif;
}

.page404_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.page404_bg h1 {
  font-size: 60px;
}

.page404_bg h3 {
  font-size: 80px;
}

.link404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #637162;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  border-radius: 7px;
}
.link404:hover {
  background-color: #404640;
}

.contantbox_404 {
  margin-top: -50px;
  padding-top: 2rem;
}

.api-main {
  margin-left: 21%;
  margin-right: 12%;
  font-family: monospace;
  font-size: large;
  text-align: left;
}

.api-title1 {
  text-align: center;
  color: #637162;
  text-decoration: underline;
  padding: 1.5rem;
}

.api-title {
  color: rgb(57, 45, 96);
  margin: 2rem 0;
  text-decoration: none !important;
  text-transform: capitalize;
}

.api-title2 {
  text-align: center;
  justify-content: center;
  color: rgb(57, 45, 96);
  margin: 2rem 0;
  text-decoration: none;
  text-transform: capitalize;
}

.api-title3 {
  color: #7a5555;
  font-weight: 700;
  text-transform: capitalize;
  margin: 2.5rem 0;
}

.api-body {
  text-align: center;
  justify-content: left !important;
  font-weight: 400;
}

.apidata-btn {
  margin: 3rem 0;
}

.welcome {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Product Page */

.mar-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card1 {
  display: inline-block;
  border: 1px solid #f8e1e1;
  border-radius: 7px;
  box-shadow: 0 2px 2px 1px #afafaf;
  width: 200px;
  padding: 20px;
  margin: 20px;
}
.card1:hover {
  box-shadow: 1px 3px 3px 2px #949393;
}

.cards {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  /* margin-left: 6rem; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.card:hover {
  box-shadow: 1px 3px 3px 2px #949393;
}
.image {
  width: 260px;
  height: 170px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.content {
  text-align: left;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
.description {
  font-size: 16px;
  margin-bottom: 8px;
}
.price {
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
}

.product-btn {
  color: #fff !important;
  padding: 7px 14px;
  background: #637162;
  margin: 10px 0;
  margin-top: 1.5rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 12px;
}
.product-btn:hover {
  background-color: #404640;
}

/* Launching Page */

.launch-main-div {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.lanch-txt {
  color: #404640;
  font-size: 3rem;
  word-spacing: 5px;
  letter-spacing: 3px;
  text-shadow: 2px 3px #9fd2e0;
}
.launching {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #404640;
  word-spacing: 5px;
  letter-spacing: 3px;
  text-shadow: 2px 3px #9fd2e0;
}

.launching #launchtext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
}

/* Url Shortner */
.linksrt {
  margin: 1rem;
}
.container {
  border-radius: 10px;
  height: 70vh;
  top: 0;
}
.url {
  width: 70%;
  margin: 30px 30px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 3px solid #9fd2e0;
  outline: none;
  font-weight: 500;
}
.col-md-9,
.col-md-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shortn-btn {
  color: white;
  width: 12%;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: rgb(137, 198, 215);
  border: 5px solid hsl(180, 66%, 49%);
  outline: none;
  border: none;
}
.shortn-btn:hover {
  background-color: #79a1ac;
}
.results {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
}
.col-md-12 {
  border: 2px solid #40a2bd;
  text-decoration: none;
  color: #404640;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shortn-btn {
  width: 100px;
}
.s-url {
  color: hsl(180, 66%, 49%);
  font-size: 22px;
  font-weight: 800;
  text-decoration: none !important;
}

@media only screen and (max-width: 400px) {
  .results .col-md-12 {
    display: flex;
    flex-direction: column;
  }
}
